@use '../../../styles/index' as ds;

.avatar {
  @include ds.flex-center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color-bg-tertiary);
  overflow: hidden;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__initials {
  color: var(--color-text-secondary);
  font-weight: var(--font-semibold);
  line-height: 1;
}

.avatar--sm {
  width: 1.75rem;
  height: 1.75rem;

  .avatar__initials {
    font-size: var(--text-xs);
  }
}

.avatar--md {
  width: 2.5rem;
  height: 2.5rem;

  .avatar__initials {
    font-size: var(--text-sm);
  }
}

.avatar--lg {
  width: 4.5rem;
  height: 4.5rem;

  .avatar__initials {
    font-size: var(--text-xl);
  }
}
